<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
    <section class="about" th:fragment="common-body">
        <a th:href="@{/home}">
            <img class="profile" src="../img/profile.jpg" alt="JaeUn Choi">
        </a>
        <h2 id="my-name">
            <a class="list-group-item-action" th:href="@{/home}">JaeUn Choi</a>
        </h2>
        <p id="tagline">Student</p>
        <nav class="navig">
            <ul>
                <li>
                    <a class="list-group-item-action" th:href="@{/study-home}">Study</a>
                </li>
                <li>
                    <a class="list-group-item-action" href="mailto:wodns617@gmail.com">Email</a>
                </li>
                <li>
                    <a href="https://github.com/">
                        <img class="img-github" src="../img/git.png" alt="GitHub">
                    </a>
                </li>
            </ul>
        </nav>
    </section>
</body>

</html>